<style>
    #footerScreen {
        background: #000;
        color: #999;
        box-sizing: border-box;
    }

    .footerContent {
        width: 100%;
        padding: 20px 24px 30px;
        font-size: 12px;
        box-sizing: border-box;
    }

    .footerLogo {
        margin-bottom: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerLogo span {
        width: 1px;
        height: 30px;
        margin: 0 20px;
        background: #666;
    }

    .footerLogo img:first-child {
        width: 1.6rem;
        height: auto;
    }

    .footerLogo img.gameLogo {
        width: 1.6rem;
        margin-left: 0.05rem;
    }

    .footerInfo {
        text-align: center;
        line-height: 0.4rem;
        font-size: 0.2rem;
    }

    .footerInfo p:first-child {
        font-size: 0.2rem;
    }

    .footerInfo p:nth-child(3),
    .footerInfo p:nth-child(4),
    .footerInfo p:nth-child(5) {
        padding: 3px 0;
    }

    .footerInfo p:nth-child(6) {
        margin-top: 15px;
    }
</style>


<!-- 在这个文件中，我们只书写 html 代码片段 -->
<div class="footerContent">
    <!-- 上面两张 logo 图片 -->
    <div class="footerLogo">
        <img src="../assets/mihayou.png" alt="米哈游logo">
        <span></span>
        <h1>
            <img src="../assets/logo3.png" class="gameLogo" alt="官网logo">
        </h1>
    </div>
    <!-- 下面的版权信息 -->
    <div class="footerInfo">
        <p>沪公网安备31010402001113号</p>
        <p>增值电信业务经营许可证：沪B2-20190555</p>
        <p>沪ICP备19018275号-4</p>
        <p>沪网文〔2019〕3168-216号</p>
        <p>国新出审【2019】2978号</p>
        <p>© 2020 米哈游版权所有 | 上海米哈游影铁科技有限公司</p>
        <p>客服电话：86-021-34203305</p>
    </div>
</div>